.columns > div {
    display: flex;
    flex-direction: column;
}

.columns img {
    width: 100%;
}

@media (min-width: 900px) {
    .columns > div {
        display: flex;
        flex-direction: unset;
    }

    .columns > div > div {
        flex: 1;
        padding-left: 20px;
        background-color: #ebebeb;
    }

    .columns > div > div.columns-img-col {
                flex: 1;
                background-color: #ffffff;
            }

    .columns > div > div:first-of-type {
        margin-left: unset;
    }
}